html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*{
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}

body {
  font: 400 18px "Dosis", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background: #fff;
  color: #fff;
  min-width: 320px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main {
  position: relative;
  z-index: 1;
  padding: 0 0 180px;
}

section {
  height: 100%;
  min-height: 100%;
}

#projects:before {
  background: url(../img/poles.jpg) center center no-repeat #666;
}

#resume:before {
  background: url(../img/poles.jpg) center center no-repeat #666;
}
#more-about-me:before {
  background: url(../img/hot-air-balloon.jpg) center center no-repeat #666;
}
section:before {
  background: url(../img/sf-boat.jpg) center center no-repeat #666;
}

.flex-2 {
  width: 100%;
}

section main {
  max-width: 1125px;
  margin: auto;
  width: 100%;
}

.col-md-4 {
  width: 40%;
}

section {
  /* Background image */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  top: auto;
  left: auto;
}

section > main {
  z-index: 0;
  padding-bottom: 30px;
  padding; 10px;
}

article {
  background: rgba(0, 0, 0, 0.65);
  margin: 10px 10px 10px 10px;
}

/* background image */
section:before {
  content: "";
  position: absolute;
  height: 100%; width: 100%;
  background-size: cover;
  z-index: -3;
}

/* Outer flex */
section {
  display: -webkit-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
section > * {
  padding: 10px;
  flex: 1 100%;
}

/* flex item */
article {
  padding: 1em;
  flex-flow: column;
  flex: 1 100%;
}

.two-column-item {
  flex-flow: row;
  display: flex;
}

.two-columns {
  flex-flow: row;
}

article.two-columns {
  padding: 1em;
  flex: 1 50%;
}


dd:before,
dd:after {
  display: table;
  content: " ";
}

@media (min-width: 768px) {
  dt {
    float: left;
    overflow: hidden;
    width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: left;
    text-align: right;
  }
  dd {
    margin-left: 240px;
  }
}

article main {
  text-align: center;
}

article main dl,
article main dd {
  text-align: initial;
}

article header {
  margin-bottom: -0.3rem;
  text-align: center;
}
article
dt {
  /* TODO */
}

dt:after {
  content: ': ';
}

article header h1,
article header h2,
article header h3 {
  z-index: 10;
  font-weight: 300;
  text-transform: none;
}

article header h1 {
  font-size: 4rem;
}

article header h2 {
  font-size: 3rem;
}

.scroll-down {
  position: absolute;
  margin: 0 auto;
  bottom: 30px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #ff7b00;
  letter-spacing: 0;
}

.scroll-down:before {
  content: "\00BB";
  line-height: 1;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -9px 0 0 -4px;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.scroll-down:hover,
.scroll-down:focus {
  border-color: #000;
}

.fadeIn {
  -webkit-animation: fadeIn 0.3s;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
}



@-webkit-keyframes fadeIn {
  0% {
  opacity: 0; }
  100% {
  opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% {
  opacity: 0; }
  100% {
  opacity: 1; }
}
@keyframes fadeIn {
  0% {
  opacity: 0; }
  100% {
  opacity: 1; }
}
