html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*{
    padding: 0;
    margin: 0;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}

img {
  vertical-align: top;
}

body {
  font: 400 18px "Dosis", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.05em;
  background: #fff;
  color: #fff;
  min-width: 320px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.main {
  position: relative;
  z-index: 1;
  padding: 0 0 180px;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:after, *:before {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section:after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

section {
  height: 100%;
  min-height: 100%;
}

section#intro:before {
  background: url(../img/poles.jpg) center center no-repeat #666;
}

section#projects:before {
  background: url(../img/poles.jpg) center center no-repeat #666;
}

section#resume:before {
  background: url(../img/poles.jpg) center center no-repeat #666;
}
section#more-about-me:before {
  background: url(../img/hot-air-balloon.jpg) center center no-repeat #666;
}
section:before {
  background: url(../img/sf-boat.jpg) center center no-repeat #666;
}

.flex-2 {
  width: 100%;
}

section article {
  max-width: 1125px;
  margin: auto;
  width: 100%;
}

.col-md-4 {
  width: 40%;
}

section {
  /* Background image */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
  top: auto;
  left: auto;
}

article {
  z-index: -2;
  background: rgba(0, 0, 0, 0.65);
  padding-bottom: 30px;
  padding; 10px;
  display: block;
}

/* background image */
section:before {
  content: "";
  position: absolute;
  height: 100%; width: 100%;
  background-size: cover;
  z-index: -3;
}

section {
  /* Flex */
  display: -webkit-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-2 {
  /* Flex */
  display: -webkit-flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

.flex-2 article{
  flex-wrap: wrap;
  display: -ms-flexbox;
  display: flex;
}

/*
@media all and (min-width: 600px) {
  .flex-2 > * {
    padding: 10px;
    flex: 1 auto;
  }
}

*/
@media all and (min-width: 800px) {
  .flex-2 > * {
    padding: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex;
  }
}

dd:before,
dd:after {
  display: table;
  content: " ";
}


/*
dd:after {
  clear: both;
}
*/


@media (min-width: 768px) {
  dt {
    float: left;
    overflow: hidden;
    width: 220px;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: left;
    text-align: right;
  }
  dd {
    margin-left: 240px;
  }
}


article header {
  margin-bottom: -0.3rem;
  font-weight: bold;
}

dt {
  font-weight: bold;
}

dt:after {
  content: ': ';
}

article header h1,
article header h2,
article header h3 {
  z-index: 10;
  font-weight: 300;
  text-transform: none;
  max-width: 975px;
}

article header h1 {
  font-size: 4rem;
}

article header h2 {
  font-size: 3rem;
}
